<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aashna's Prog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AlgoCrush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ArrayPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>BinaryQueries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Inheritance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LearnC++.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Linked list.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MaxsubArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>MemoriseMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Polymorphism.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>STLLibraries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Searching.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Sorting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Templates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Trees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>filehandling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>overloadingOverriding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C27D3561F0DB69000E89F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C27D3611F0E4AA300E89F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C27D36C1F0EC8F400E89F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C27D3771F0EE81A00E89F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C27D38A1F0FD6DA00E89F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3F36491F2319E8003AFD33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C43D9321F102EA8006B033E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C43D93D1F116364006B033E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C43D9481F1164D9006B033E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CDB21031F1B3C59000F0B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CDB214B1F1F00D7000F0B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE146DB1F04486E0032134E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE6F9EA1EFD5E2500E9D888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE6F9F51EFD73D300E9D888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE6FA001EFD855E00E9D888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E018AADF1EF3861C0004B61C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E018AAED1EF386E80004B61C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
